body {
  background-color: #84A178;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}

.main-btn__arrow {
  margin-bottom: -1px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  transition: opacity 300ms linear, visibility 300ms linear;
  overflow-y: auto;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);
}

.backdrop-location {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 280px;
  height: 366px;
  margin: 20px;
  overflow-y: scroll;
  border-radius: 10px;
  border: 2px solid #F8D24E;
  background: #FCFCFC;
  transition: opacity 300ms linear, visibility 300 linear;
}
.backdrop-location.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop-location.is-hidden .modal-location {
  transform: translate(-50%, -50%) scale(0.2);
}

.modal {
  height: auto;
  overflow-y: scroll;
  margin: 0;
  background-color: #fcfcfc;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
  padding: 15px;
}

.modal__btn__close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
  fill: #131313;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

.modal-open {
  overflow: hidden;
}

.modal-open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal-location {
  min-width: 100%;
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
  padding: 15px;
}

.modal-location__title {
  color: #131313;
  text-align: center;
  font-family: Seymour One;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-top: 28px;
}

.modal-location-btn {
  margin-top: 24px;
  margin-left: 44px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background-color: #F8D24E;
  padding: 12px 36px;
  border-radius: 10px;
  border: transparent;
  min-width: 152px;
  transition: background-color 250ms linear, color 250ms linear;
}

.modal-location-btn:hover {
  background-color: #0A8817;
}

.modal-location-btn:focus {
  color: #FCFCFC;
  background-color: #0A8817;
}

.main-btn {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background-color: #F8D24E;
  padding: 12px 36px;
  border-radius: 10px;
  border: transparent;
  margin-top: 110px;
  min-width: 152px;
  transition: background-color 250ms linear, color 250ms linear;
}

.main-btn:hover {
  background-color: #0A8817;
}

.main-btn__arrow {
  transition: fill 250ms linear;
}

.main-btn:focus {
  color: #FCFCFC;
  background-color: #0A8817;
}
.main-btn:focus .main-btn__arrow {
  fill: #FCFCFC;
}

.header {
  margin-bottom: 50px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #85a279;
  padding-top: 12px;
}

.buy-now-btn {
  display: none;
}

.header__container {
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  margin: auto;
}

.mobile-menu__btn {
  background-color: transparent;
  border: none;
  margin-top: 14px;
  height: 32px;
  padding: 0;
}

.logo-top {
  position: relative;
}

.logo-top__ce {
  font-family: Seymour One;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.1em;
  position: absolute;
  transform: translateY(110%) translateX(-20%);
}

@supports (-webkit-text-stroke: 0.88px #f8d24e) {
  .logo-top__ce {
    text-shadow: none;
    color: transparent;
    -webkit-text-stroke: 0.88px #f8d24e;
  }
}
.mobile-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: auto;
  z-index: 100;
  background-color: #85a279;
  transition: opacity 300ms linear, visibility 300ms linear, width 300ms linear;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  position: fixed;
  width: 100%;
  overflow-y: hidden;
}

.mobile-menu__container {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.menu__header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 12px;
}

.mobile-menu__close-btn {
  background-color: transparent;
  padding: 0;
  border: none;
  fill: #fcfcfc;
}

.mobile-menu__list {
  padding-top: 50px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #fcfcfc;
  transition: color 250ms linear;
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #131313;
}

@media screen and (min-width: 768px) {
  .header {
    margin-top: 12px;
    padding-bottom: 12px;
  }
  .buy-now-btn {
    display: block;
    margin-top: 0;
    margin-bottom: 0px;
  }
  .mobile-menu__btn {
    margin-left: 440px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu__btn {
    display: none;
  }
}
.header__navigation {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header__nav-link {
  color: #FCFCFC;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
}
.header__nav-link:not(:last-child) {
  margin-right: 38px;
}
.header__nav-link:hover, .header__nav-link:focus, .header__nav-link:target {
  color: #F8D24E;
  font-weight: 900;
}

.hero__container {
  position: relative;
  margin: auto;
}

.hero__wrap {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__wrap {
    display: flex;
    justify-content: space-between;
  }
}

.title {
  font-family: "Seymour One";
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  max-width: 250px;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 38px;
    line-height: normal;
    letter-spacing: 1.52px;
    max-width: 380px;
  }
}

.title__span {
  font-size: 34px;
}
@media screen and (min-width: 1200px) {
  .title__span {
    font-size: 38px;
  }
}

.btn-link {
  display: inline-block;
  padding: 0;
  max-width: 108px;
  max-height: 38px;
  margin-top: 32px;
  margin-right: 12px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  padding: 11px 26px;
  max-width: 108px;
  color: #000000;
  background-color: transparent;
  border: 2px solid #f8d24e;
  border-radius: 8px;
  transition: border 250ms linear;
}
.btn-link:hover, .btn-link:focus {
  border: 2px solid #0a8817;
}

.hero__link {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: underline;
  color: #f8d24e;
  transition: color 250ms linear;
}
.hero__link:hover {
  color: #0a8817;
}
.hero__link:focus {
  color: #fcfcfc;
}

.hero__images {
  position: relative;
  min-height: 40vh;
  max-width: 100vw;
  margin-bottom: 0px;
}
@media screen and (min-width: 480px) {
  .hero__images {
    margin-bottom: -80px;
    margin-top: -140px;
  }
}
@media screen and (min-width: 768px) {
  .hero__images {
    margin-top: -150px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__images {
    margin-top: -170px;
  }
}

.hero__image-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 280px;
  transform: translate(10px, 0px);
  transition: transform 800ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
@media screen and (min-width: 480px) {
  .hero__image-dots {
    right: 0;
    left: unset;
    transform: translate(10px, -80px);
  }
}

.hero__image-icecream {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(80px, 0px);
  transition: transform 800ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
@media screen and (min-width: 480px) {
  .hero__image-icecream {
    right: 0;
    left: unset;
    transform: translate(-28px, -80px);
  }
}
@media screen and (min-width: 768px) {
  .hero__image-icecream {
    transform: translate(-58px, -80px);
  }
}

.hero__image-icecream-plate {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__image-icecream-plate {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(30px, -92px);
    transition: transform 800ms linear;
  }
}

.hero__text {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__text {
    display: block;
    color: #fff;
    font-family: "Montserrat";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    width: 165px;
    margin-left: 216px;
    margin-top: 36px;
    position: absolute;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text {
    margin-left: 280px;
    margin-top: 190px;
  }
}

.hero__icon-arrow {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__icon-arrow {
    display: block;
    fill: #fcfcfc;
    margin-top: 140px;
    margin-left: 216px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__icon-arrow {
    margin-left: 280px;
    margin-top: 290px;
  }
}

.hero__side-info {
  display: flex;
  justify-content: right;
  align-items: flex-start;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .hero__side-info {
    margin-top: 10px;
  }
}

.hero__side-list {
  margin-right: 0;
  margin-left: auto;
}

.hero__side-numbers {
  color: #131313;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 1.12px;
  text-transform: uppercase;
  text-align: right;
}
@media screen and (min-width: 1200px) {
  .hero__side-numbers {
    font-size: 46px;
    letter-spacing: 1.84px;
  }
}

.hero__side-text {
  color: #fcfcfc;
  font-family: Montserrat;
  font-size: 8px;
  font-weight: 400;
  text-align: right;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .hero__side-text {
    font-size: 14px;
  }
}

.products {
  background-color: #fcfcfc;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/background-mobile@1x.jpg");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products {
    background-image: url("../images/background-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .products {
    background-image: url("../images/background-tablet@1x.jpg");
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .products {
    background-image: url("../images/background-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .products {
    background-image: url("../images/background-desktop@1x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products {
    background-image: url("../images/background-desktop@2x.jpg");
  }
}
.products__label {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #131313;
}

.products__title {
  font-family: "Seymour One";
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-top: 12px;
}

.products__list {
  display: flex;
  flex-direction: column;
}

.products__item-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-top: 130px;
}

.products__item-dscr {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
  margin-top: 40px;
}

.products__wrap {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  min-height: 420px;
  border-radius: 24px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 172px;
}
.products__wrap::before {
  content: "";
  width: 200px;
  height: 200px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 10;
  border-radius: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -160%);
}
.products__wrap::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -154%);
}

.icecream-product {
  background: #aec6a5;
}

.icecream-product::before {
  content: url(../images/products-icecream-mobile@1x.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .icecream-product::before .icecream-product::before {
    content: url(../images/products-icecream-mobile@2x.png);
  }
}

.icecream-product::after {
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7) 0%, rgba(156, 190, 143, 0.7) 100%), #d9d9d9;
  box-shadow: 0px 5.3421931267px 20.0332221985px 0px rgba(10, 136, 23, 0.25);
}

.icecoffee-product {
  background: #efd478;
}

.icecoffee-product::before {
  content: url(../images/products-icecoffee-mobile@1x.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .icecoffee-product::before .icecream-product::before {
    content: url(../images/products-icecoffee-mobile@2x.png);
  }
}

.icecoffee-product::after {
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7) 0%, rgba(248, 210, 78, 0.7) 100%), #d9d9d9;
  box-shadow: 0px 5.4039735794px 20.2649002075px 0px rgba(153, 114, 23, 0.25);
}

.milkshakes-product {
  background: #d6936d;
}

.milkshakes-product::before {
  content: url(../images/products-milkshakes-mobile@1x.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .milkshakes-product::before .icecream-product::before {
    content: url(../images/products-milkshakes-mobile@2x.png);
  }
}

.milkshakes-product::after {
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7) 0%, rgba(213, 117, 63, 0.7) 100%), #d9d9d9;
  box-shadow: 0px 5.4133329391px 20.2999992371px 0px rgba(0, 0, 0, 0.25);
}

.products__icon-arrow {
  margin-bottom: 16px;
  margin-top: auto;
  transition: fill 250ms linear;
}
.products__icon-arrow:hover, .products__icon-arrow:focus {
  fill: #fcfcfc;
}

@media screen and (min-width: 768px) {
  .products__wrap {
    width: 220px;
    min-height: 468px;
  }
  .products__wrap:not(:last-child) {
    margin-right: 16px;
  }
  .products__list {
    flex-direction: row;
    justify-content: space-between;
  }
  .products__label {
    font-size: 22px;
  }
  .products__title {
    font-size: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .products__wrap {
    width: 370px;
    min-height: 536px;
  }
  .products__label {
    font-size: 30px;
  }
  .products__title {
    font-size: 36px;
  }
  .products__item-dscr {
    width: 246px;
  }
  .products__item-title {
    font-size: 30px;
    margin-top: 190px;
  }
  .products__item-dscr {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.64px;
  }
  .products__icon-arrow {
    margin-bottom: 60px;
  }
}
.about {
  padding: 60px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__label {
  color: #fcfcfc;
  text-align: center;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__title {
  color: #fcfcfc;
  text-align: center;
  font-size: 30px;
  font-family: Seymour One;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  width: 200px;
  margin-top: 12px;
  margin-bottom: 54px;
}

.about__img-wrapper {
  position: relative;
}

.about__image {
  width: 278px;
  height: 278px;
  display: inline-block;
  margin-bottom: 40px;
  border-radius: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-140px, -10px);
  z-index: 20;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7) 0%, rgba(248, 210, 78, 0.7) 100%), #d9d9d9;
  border-top: 20px solid rgba(248, 210, 78, 0.7);
  box-shadow: 0px 4.48px 16.82px 0px rgba(153, 114, 23, 0.25);
}

.about__text {
  width: 220px;
  color: #fcfcfc;
  text-align: center;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 176%;
  letter-spacing: 0.48px;
  margin-bottom: 4px;
}

.about__first-text {
  margin-top: 340px;
}

.read-more-btn {
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .about__label {
    font-size: 22px;
  }
  .about__title {
    font-size: 34px;
    width: unset;
    letter-spacing: 2.04px;
  }
  .about__image {
    transform: translate(-350px, 0px);
    width: 330px;
    height: 330px;
    border-radius: 200px;
  }
  .about__first-text {
    margin-top: unset;
    text-align: left;
    margin-left: 346px;
    width: 334px;
  }
  .about__text {
    text-align: left;
    margin-left: 346px;
    width: 334px;
  }
  .read-more-btn {
    margin-top: 52px;
    margin-left: 172px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-bottom: 120px;
  }
  .about__label {
    font-size: 30px;
  }
  .about__title {
    font-size: 36px;
    margin-bottom: 90px;
  }
  .about__image {
    transform: translate(-560px, -10px);
    width: 490px;
    height: 490px;
    border-radius: 240px;
  }
  .about__text {
    font-size: 16px;
    width: 520px;
    margin-left: 450px;
    margin-top: 10px;
  }
  .read-more-btn {
    margin-top: 120px;
    margin-left: 100px;
  }
}
.advantages {
  padding: 60px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__list {
  display: flex;
  flex-direction: column;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__item:not(:last-child) {
  margin-bottom: 28px;
}

.advantages__subtitle {
  color: #fcfcfc;
  text-align: center;
  font-size: 36px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.advantages__subtitle:not(:last-child) {
  margin-bottom: 16px;
}

.advantages__icon-wrap {
  background: #f8d24e;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.advantages__text {
  width: 230px;
  color: #fcfcfc;
  text-align: center;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 170%;
}
.advantages__text:last-child {
  margin-bottom: 22px;
}

@media screen and (min-width: 768px) {
  .advantages {
    margin-bottom: 26px;
  }
  .advantages__list {
    flex-direction: row;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: unset;
    margin-right: 80px;
  }
  .advantages__subtitle {
    font-size: 48px;
    letter-spacing: 1.92px;
  }
  .advantages__icon-wrap {
    margin-bottom: 32px;
  }
  .advantages__text {
    font-size: 14px;
    line-height: 1.74;
    width: 152px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-bottom: 170px;
  }
  .advantages__item:not(:last-child) {
    margin-right: 32px;
  }
  .advantages__subtitle {
    font-size: 56px;
    margin-top: 40px;
  }
  .advantages__text {
    font-size: 16px;
    width: 338px;
  }
}
.reviews {
  background-color: #fcfcfc;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/background-mobile@1x.jpg");
  padding-bottom: 370px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .reviews {
    background-image: url("../images/background-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .reviews {
    background-image: url("../images/background-tablet@1x.jpg");
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min--moz-device-pixel-ratio: 2) and (min-width: 768px), screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 768px), screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .reviews {
    background-image: url("../images/background-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .reviews {
    background-image: url("../images/background-desktop@1x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .reviews {
    background-image: url("../images/background-desktop@2x.jpg");
  }
}
.slider {
  width: 300px;
  text-align: center;
  overflow: hidden;
  margin-top: -100px;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.slides::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  color: transparent;
}

.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  margin-right: 50px;
  border-radius: 10px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
}

.slider__img {
  position: absolute;
  top: 0px;
  border-radius: 8px;
}

.slider > a {
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  margin-top: 12px;
  transition: background-color 250ms linear;
}

.slider > a:active,
.slider > a:target {
  top: 1px;
  background-color: #84a178;
}

.slider > a:focus,
.slider > a:hover {
  background-color: #84a178;
}

.review__face {
  margin-top: 188px;
  border-radius: 50%;
  width: 85px;
  height: 84px;
}

.slider__text {
  color: #fcfcfc;
  text-align: center;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 255%;
  margin-top: 32px;
  border-radius: 10px;
  background: #84a178;
  padding: 35px;
}

.slider__reviewer {
  color: #131313;
  text-align: center;
  font-size: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  margin-top: 32px;
}

.slider__dots {
  width: 72px;
  height: 12px;
  color: #d9d9d9;
}

.dot.active {
  background-color: #84a178;
}

@media screen and (min-width: 480px) {
  .slider {
    width: 400px;
  }
  .slides > div {
    width: 400px;
  }
  .slider__text {
    width: 300px;
  }
  .review__face {
    margin-top: 310px;
  }
}
@media screen and (min-width: 768px) {
  .slider {
    width: 704px;
  }
  .slides > div {
    width: 704px;
  }
  .review__face {
    margin-top: 410px;
  }
  .slider__text {
    width: 704px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.86;
    letter-spacing: 0.56px;
    padding: 28px 80px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews {
    padding-bottom: 180px;
  }
  .slider {
    width: 1014px;
    margin-top: -170px;
  }
  .slides > div {
    width: 1014px;
  }
  .review__face {
    margin-top: 510px;
  }
  .slider__text {
    width: 968px;
    padding: 43px 109px;
    font-size: 16px;
    letter-spacing: 0.64px;
  }
}
.contacts {
  padding: 60px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -388px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
}

.contacts__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacts__item {
  border-radius: 24px;
  background: #fcfcfc;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  padding-top: 40px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 16px;
  width: 280px;
}

.contacts__business-name {
  color: #131313;
  text-align: center;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.48px;
  padding: 4px 22px;
  border-radius: 4px;
  background: #f8d24e;
  max-width: fit-content;
}

.contacts__city {
  color: #131313;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.48px;
  margin-top: 24px;
}

.contacts__address {
  color: #d6936d;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 183%;
  letter-spacing: 0.48px;
}
.contacts__address::after {
  content: "";
  display: flex;
  border-bottom: 1px solid #e1e1e1;
  width: auto;
  margin-top: 24px;
  margin-bottom: 16px;
}

.contacts__business-days {
  color: #131313;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 186%;
  margin-top: 8px;
}

.contacts__business-hours {
  color: #ababab;
  font-size: 12px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
}

.contacts__link {
  color: #131313;
  font-size: 12px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.tel {
  margin-top: 6px;
  border-top: 1px solid #e1e1e1;
  width: auto;
  margin-top: 24px;
  padding-top: 24px;
}

.contacts__btn-wrapper {
  display: flex;
  flex-direction: column;
}

.location-btn {
  margin-top: 4px;
}

.franshise-btn {
  margin-top: 16px;
  width: 196px;
}

@media screen and (min-width: 768px) {
  .contacts__list {
    flex-direction: row;
    margin-bottom: 40px;
  }
  .contacts__item {
    width: 216px;
    margin-bottom: unset;
  }
  .contacts__item:not(:last-child) {
    margin-right: 16px;
  }
  .location-btn {
    margin-top: unset;
    margin-right: 16px;
  }
  .franshise-btn {
    margin-top: unset;
  }
  .contacts__btn-wrapper {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-top: -164px;
  }
  .contacts__item {
    width: 368px;
    padding: 40px;
  }
  .contacts__item:not(:last-child) {
    margin-right: 32px;
  }
  .contacts__business-name {
    font-size: 16px;
  }
  .contacts__address {
    font-size: 16px;
  }
  .contacts__address::after {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .contacts__city {
    font-size: 16px;
    margin-top: 32px;
  }
  .contacts__business-days {
    font-size: 16px;
  }
  .contacts__business-hours {
    font-size: 16px;
  }
  .contacts__link {
    font-size: 16px;
  }
  .tel {
    margin-top: 32px;
    padding-top: 32px;
  }
}
.footer {
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__label {
  color: #fcfcfc;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
  width: 232px;
}

.footer__title {
  color: #fcfcfc;
  font-size: 34px;
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: 1.36px;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 60px;
  max-width: 200px;
}

.footer__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.footer__item:not(:last-child) {
  margin-right: 20px;
}

.footer__link {
  display: flex;
  border-radius: 50%;
  fill: #84a178;
  background-color: #f8d24e;
  transition: fill 250ms linear;
}

.footer__link:hover,
.footer__link:focus {
  fill: #fcfcfc;
}

.footer__phone {
  text-align: center;
}

.footer__label-tel {
  color: #131313;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 186%;
}

.footer__tel {
  color: #fcfcfc;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 186%;
}

.rights {
  border-top: 1px solid #e1e1e1;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.rights__text {
  color: #7a7a7a;
  text-align: center;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 152%;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 0;
  }
  .footer__list {
    margin-top: -170px;
  }
  .footer__label {
    font-size: 26px;
    letter-spacing: 1.04px;
    width: unset;
  }
  .footer__title {
    font-size: 48px;
    letter-spacing: 2.88px;
  }
  .footer__phone {
    text-align: right;
    margin-top: 34px;
  }
  .rights {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__label {
    font-size: 30px;
    margin-top: 120px;
  }
  .footer__title {
    font-size: 58px;
    max-width: unset;
    margin-bottom: 60px;
  }
  .footer__list {
    margin-top: -160px;
  }
  .footer__phone {
    margin-bottom: 104px;
  }
}
.product-card__title {
  margin-top: 28px;
  margin-bottom: 80px;
  text-align: center;
  color: #131313;
  font-size: 16px;
  font-family: Seymour One;
  font-weight: 400;
  line-height: 24px;
}

.product-card__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-card__item {
  width: 132px;
  margin-bottom: 70px;
  position: relative;
  border-radius: 15px;
  border: 2px solid #96AF8C;
  box-shadow: 0px 5.2602739334px 19.726026535px 0px rgba(212, 20, 67, 0.1);
}

.product-card__img {
  position: absolute;
  top: -50px;
  border-radius: 132px;
  background-color: #96AF8C;
  border-bottom: 6px solid #96AF8C;
  box-shadow: 0px 5.2602739334px 19.726026535px 0px rgba(10, 136, 23, 0.25);
}

.product-card__text {
  color: #131313;
  text-align: center;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  margin-top: 110px;
  margin-bottom: 20px;
}

.product-card__item > input:checked + .product-card__img,
.product-card__item input:checked + .product-card__text {
  background-color: #ff0000;
}/*# sourceMappingURL=main.css.map */