* {
  outline: 1px solid red;
}

body {
  background-color: #84A178;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 300ms linear, visibility 300 linear;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);
}

.modal {
  min-width: 90%;
  height: auto;
  overflow: auto;
  margin: 0;
  background-color: #85A279;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
  padding: 15px;
}

.modal__btn__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  background-color: transparent;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

.header {
  margin-top: 12px;
  margin-bottom: 50px;
}

.header__container {
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  margin: auto;
}

.mobile-menu__btn {
  background-color: transparent;
  border: none;
}

.logo-top {
  position: relative;
}

.logo-top__ce {
  font-family: Seymour One;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.1em;
  position: absolute;
  transform: translateY(110%) translateX(-20%);
}

@supports (-webkit-text-stroke: 0.88px #F8D24E) {
  .logo-top__ce {
    text-shadow: none;
    color: transparent;
    -webkit-text-stroke: 0.88px #F8D24E;
  }
}
.mobile-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 100;
  background-color: #85A279;
  transition: opacity 300ms linear, visibility 300ms linear;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  position: fixed;
}

.mobile-menu__container {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.menu__header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 12px;
}

.mobile-menu__close-btn {
  background-color: transparent;
  padding: 0;
  border: none;
}

.mobile-menu__list {
  padding-top: 50px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FCFCFC;
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #131313;
}

.main-btn {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background-color: #F8D24E;
  padding: 12px 36px;
  border-radius: 10px;
  border: transparent;
  margin-top: 110px;
  min-width: 152px;
}

.hero__container {
  position: relative;
  margin: auto;
  margin-bottom: 0;
  min-height: 100vh;
  padding-bottom: 0;
}

.title {
  font-family: "Seymour One";
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FCFCFC;
  max-width: 250px;
}

.title__span {
  font-size: 34px;
}

.products-btn {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  padding: 11px 26px;
  color: #000000;
  background-color: transparent;
  border: 2px solid #F8D24E;
  border-radius: 8px;
  margin-top: 32px;
  margin-right: 12px;
}
.products-btn:hover, .products-btn:focus {
  border: 2px solid #0A8817;
}

.hero__link {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: underline;
  color: #F8D24E;
}
.hero__link:hover {
  color: #0A8817;
}
.hero__link:focus {
  color: #FCFCFC;
}

.hero__images {
  position: relative;
  margin-top: 30px;
  height: 100%;
  max-width: 100vw;
  margin-bottom: 0px;
}

.hero__image-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 280px;
  transform: translate(0px, 210px);
  transition: transform 800ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.hero__image-icecream {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(80px, 210px);
  transition: transform 800ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.products {
  background-color: #FCFCFC;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/background-mobile@1x.jpg");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products {
    background-image: url("/images/background-mobile@2x.jpg");
  }
}
.products__label {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #131313;
}

.products__title {
  font-family: "Seymour One";
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-top: 12px;
}

.products__item-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-top: 130px;
}

.products__item-dscr {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
  margin-top: 40px;
}

.products__wrap {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  min-height: 420px;
  border-radius: 24px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 172px;
}
.products__wrap::before {
  content: "";
  width: 200px;
  height: 200px;
  background: url(<path-to-image>), lightgray 0.845px -34.77px/100% 149.982% no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 10;
  border-radius: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -160%);
}
.products__wrap::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -154%);
}

.icecream-product {
  background: #AEC6A5;
}

.icecream-product::before {
  content: url(../images/products-icecream-mobile@1x.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .icecream-product::before .icecream-product::before {
    content: url(../images/products-icecream-mobile@2x.png);
  }
}

.icecream-product::after {
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7) 0%, rgba(156, 190, 143, 0.7) 100%), #D9D9D9;
  box-shadow: 0px 5.3421931267px 20.0332221985px 0px rgba(10, 136, 23, 0.25);
}

.icecoffee-product {
  background: #EFD478;
}

.icecoffee-product::before {
  content: url(../images/products-icecoffee-mobile@1x.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .icecoffee-product::before .icecream-product::before {
    content: url(../images/products-icecoffee-mobile@2x.png);
  }
}

.icecoffee-product::after {
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7) 0%, rgba(248, 210, 78, 0.7) 100%), #D9D9D9;
  box-shadow: 0px 5.4039735794px 20.2649002075px 0px rgba(153, 114, 23, 0.25);
}

.milkshakes-product {
  background: #D6936D;
}

.milkshakes-product::before {
  content: url(../images/products-milkshakes-mobile@1x.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .milkshakes-product::before .icecream-product::before {
    content: url(../images/products-milkshakes-mobile@2x.png);
  }
}

.milkshakes-product::after {
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7) 0%, rgba(213, 117, 63, 0.7) 100%), #D9D9D9;
  box-shadow: 0px 5.4133329391px 20.2999992371px 0px rgba(0, 0, 0, 0.25);
}

.products__icon-arrow {
  margin-bottom: 16px;
  margin-top: auto;
}
.products__icon-arrow:hover, .products__icon-arrow:focus {
  fill: #FCFCFC;
}

.about {
  padding: 60px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__label {
  color: #FCFCFC;
  text-align: center;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__title {
  color: #FCFCFC;
  text-align: center;
  font-size: 30px;
  font-family: Seymour One;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  width: 200px;
  margin-top: 12px;
  margin-bottom: 54px;
}

.about__img-wrapper {
  position: relative;
}

.about__image {
  width: 278px;
  height: 278px;
  display: inline-block;
  margin-bottom: 40px;
  border-radius: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-140px, -10px);
  z-index: 20;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7) 0%, rgba(248, 210, 78, 0.7) 100%), #D9D9D9;
  border-top: 20px solid rgba(248, 210, 78, 0.7);
  box-shadow: 0px 4.48px 16.82px 0px rgba(153, 114, 23, 0.25);
}

.about__text {
  width: 220px;
  color: #FCFCFC;
  text-align: center;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 176%;
  letter-spacing: 0.48px;
  margin-bottom: 4px;
}

.about__first-text {
  margin-top: 340px;
}

.read-more-btn {
  margin-top: 24px;
}

.advantages {
  padding: 60px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.advantages__item:not(:last-child) {
  margin-bottom: 28px;
}

.advantages__subtitle {
  color: #fcfcfc;
  text-align: center;
  font-size: 36px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.advantages__subtitle:not(:last-child) {
  margin-bottom: 16px;
}

.advantages__icon-wrap {
  background: #f8d24e;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.advantages__text {
  width: 230px;
  color: #fcfcfc;
  text-align: center;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 170%;
}
.advantages__text:last-child {
  margin-bottom: 22px;
}

.reviews {
  background-color: #FCFCFC;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/background-mobile@1x.jpg");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products {
    background-image: url("/images/background-mobile@2x.jpg");
  }
}
.slider {
  width: 300px;
  text-align: center;
  overflow: hidden;
  margin-top: -100px;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.slides::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  color: transparent;
}

.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  margin-right: 50px;
  border-radius: 10px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
}

.slider__img {
  position: absolute;
  top: 0px;
  border-radius: 8px;
}

.slider > a {
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  margin-top: 12px;
}

.slider > a:active {
  top: 1px;
  background-color: #84A178;
}

.slider > a:focus,
.slider > a:hover {
  background-color: #84A178;
}

.review__face {
  margin-top: 188px;
  border-radius: 50%;
  width: 85px;
  height: 84px;
}

.slider__text {
  color: #FCFCFC;
  text-align: center;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 255%;
  margin-top: 32px;
  border-radius: 10px;
  background: #84A178;
  padding: 35px;
}

.slider__reviewer {
  color: #131313;
  text-align: center;
  font-size: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  margin-top: 32px;
}

.slider__dots {
  width: 72px;
  height: 12px;
  color: #D9D9D9;
}

.contacts {
  padding: 60px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacts__item {
  border-radius: 24px;
  background: #FCFCFC;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  padding-top: 40px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 16px;
}

.contacts__business-name {
  color: #131313;
  text-align: center;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.48px;
  padding: 4px 22px;
  border-radius: 4px;
  background: #F8D24E;
  max-width: fit-content;
}

.contacts__city {
  color: #131313;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.48px;
  margin-top: 24px;
}

.contacts__address {
  color: #D6936D;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 183%;
  letter-spacing: 0.48px;
}
.contacts__address::after {
  content: "";
  display: flex;
  border-bottom: 1px solid #E1E1E1;
  width: auto;
  margin-top: 24px;
  margin-bottom: 16px;
}

.contacts__business-days {
  color: #131313;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 186%;
  margin-top: 8px;
}

.contacts__business-hours {
  color: #ABABAB;
  font-size: 12px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
}

.contacts__link {
  color: #131313;
  font-size: 12px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.tel {
  margin-top: 6px;
  border-top: 1px solid #E1E1E1;
  width: auto;
  margin-top: 24px;
  padding-top: 24px;
}

.location-btn {
  margin-top: 4px;
}

.franshise-btn {
  margin-top: 16px;
  width: 196px;
}/*# sourceMappingURL=main.css.map */