.about {
  padding: 60px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__label {
  color: #fcfcfc;
  text-align: center;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__title {
  color: #fcfcfc;
  text-align: center;
  font-size: 30px;
  font-family: Seymour One;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  width: 200px;
  margin-top: 12px;
  margin-bottom: 54px;
}

.about__img-wrapper {
  position: relative;
}

.about__image {
  width: 278px;
  height: 278px;
  display: inline-block;
  margin-bottom: 40px;
  border-radius: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-140px, -10px);
  z-index: 20;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7) 0%,
      rgba(248, 210, 78, 0.7) 100%
    ),
    #d9d9d9;
  border-top: 20px solid rgba(248, 210, 78, 0.7);
  box-shadow: 0px 4.48px 16.82px 0px rgba(153, 114, 23, 0.25);
}

.about__text {
  width: 220px;
  color: #fcfcfc;
  text-align: center;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 176%;
  letter-spacing: 0.48px;
  margin-bottom: 4px;
}

.about__first-text {
  margin-top: 340px;
}

.read-more-btn {
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .about__label {
    font-size: 22px;
  }

  .about__title {
    font-size: 34px;
    width: unset;
    letter-spacing: 2.04px;
  }

  .about__image {
    transform: translate(-350px, 0px);
    width: 330px; 
  height: 330px;
  border-radius: 200px;
  }

  .about__first-text {
    margin-top: unset;
    text-align: left;
    margin-left: 346px;
    width: 334px;
  }
  .about__text {
    text-align: left;
    margin-left: 346px;
    width: 334px;
  }
  .read-more-btn {
    margin-top: 52px;
    margin-left: 172px;
  }
}

@media screen and (min-width: 1200px) {
  .about__label {
    font-size: 30px;
  }

  .about__title {
    font-size: 36px;
    margin-bottom: 90px;
  }
  .about__image {
    transform: translate(-560px, -10px);
    width: 490px;
    height: 490px;
    border-radius: 240px;
  }
  .about__text {
    font-size: 16px;
    width: 520px;
    margin-left: 450px;
    margin-top: 10px;
  }
  .read-more-btn {
    margin-top: 120px;
    margin-left: 100px;
  }
}