.contacts {
  padding: 60px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -388px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
}

.contacts__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacts__item {
  border-radius: 24px;
  background: #fcfcfc;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  padding-top: 40px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 16px;
  width: 280px;
}

.contacts__business-name {
  color: #131313;
  text-align: center;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.48px;
  padding: 4px 22px;
  border-radius: 4px;
  background: #f8d24e;
  max-width: fit-content;
}

.contacts__city {
  color: #131313;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.48px;
  margin-top: 24px;
}

.contacts__address {
  color: #d6936d;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 183%;
  letter-spacing: 0.48px;

  &::after {
    content: "";
    display: flex;
    border-bottom: 1px solid #e1e1e1;
    width: auto;
    margin-top: 24px;
    margin-bottom: 16px;
  }
}

.contacts__business-days {
  color: #131313;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 186%;
  margin-top: 8px;
}

.contacts__business-hours {
  color: #ababab;
  font-size: 12px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
}

.contacts__link {
  color: #131313;
  font-size: 12px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.tel {
  margin-top: 6px;
  border-top: 1px solid #e1e1e1;
  width: auto;
  margin-top: 24px;
  padding-top: 24px;
}

.contacts__btn-wrapper {
  display: flex;
  flex-direction: column;
}

.location-btn {
  margin-top: 4px;
}

.franshise-btn {
  margin-top: 16px;
  width: 196px;
}

@media screen and (min-width: 768px) {
  .contacts__list {
    flex-direction: row;
    margin-bottom: 40px;
  }
  .contacts__item {
    width: 216px;
    margin-bottom: unset;
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
  .location-btn {
    margin-top: unset;
    margin-right: 16px;
  }
  .franshise-btn {
    margin-top: unset;
     }
     .contacts__btn-wrapper {
      display: flex;
      flex-direction: row;
    }
}

@media screen and (min-width: 1200px) {
.contacts {
  margin-top: -164px;
}
.contacts__item {
  width: 368px;
  padding: 40px;
  &:not(:last-child) {
    margin-right: 32px;
  }
}
.contacts__business-name {
  font-size: 16px;
}
.contacts__address {
  font-size: 16px;
  &::after {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
.contacts__city {
  font-size: 16px;
  margin-top: 32px;
}
.contacts__business-days {
  font-size: 16px;
}
.contacts__business-hours {
  font-size: 16px;
}
.contacts__link {
  font-size: 16px;
}
.tel {
  margin-top: 32px;
  padding-top: 32px;
}
}