.footer {
padding-top: 60px;
}

.footer__label {
    color: #FCFCFC;
font-size: 18px;
font-family: Montserrat;
font-weight: 700;
text-transform: uppercase;
}

.footer__title {
    color: #FCFCFC;
font-size: 34px;
font-family: Montserrat;
font-weight: 700;
letter-spacing: 1.36px;
text-transform: uppercase;
margin-top: 16px;
margin-bottom: 60px;
margin-right: 100px;
}

.footer__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.footer__item:not(:last-child) {
        margin-right: 20px;
        fill: #FCFCFC;
    }

    .footer__link {
        display: flex;

    fill: #FCFCFC;
    }

    .footer__phone {
        border-bottom: 1px solid #E1E1E1;
        text-align: center;
        padding-bottom: 40px;
        padding-left: 0;
        padding-right: 0;
    }

    .footer__label-tel {
        color: #131313;
font-size: 12px;
font-family: Montserrat;
font-weight: 700;
line-height: 186%;
padding-bottom: 40px;
    }

    .footer__tel {
        color: #fcfcfc;
        font-size: 12px;
        font-family: Montserrat;
        font-weight: 700;
        line-height: 186%;
    }

    .footer__rights {
color: #7A7A7A;
text-align: center;
font-size: 14px;
font-family: Montserrat;
font-weight: 700;
line-height: 152%;
margin-top: 20px;
margin-bottom: 20px;
    }