.footer {
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__label {
  color: #fcfcfc;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
  width: 232px;
}

.footer__title {
  color: #fcfcfc;
  font-size: 34px;
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: 1.36px;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 60px;
  max-width: 200px;
}

.footer__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.footer__item:not(:last-child) {
  margin-right: 20px;
}

.footer__link {
  display: flex;
  border-radius: 50%;
  fill: #84a178;
  background-color: #f8d24e;
  transition: fill 250ms linear;
}

.footer__link:hover,
.footer__link:focus {
  fill: #fcfcfc;
}

.footer__phone {
  text-align: center;
}

.footer__label-tel {
  color: #131313;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 186%;
}

.footer__tel {
  color: #fcfcfc;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 186%;
}

.rights {
  border-top: 1px solid #e1e1e1;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.rights__text {
  color: #7a7a7a;
  text-align: center;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 152%;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 0;
  }

  .footer__list {
    margin-top: -170px;
  }

  .footer__label {
    font-size: 26px;
    letter-spacing: 1.04px;
    width: unset;
  }

  .footer__title {
font-size: 48px;
letter-spacing: 2.88px;
  }

  .footer__phone {
    text-align: right;
    margin-top: 34px;
  }

  .rights {
    flex-direction: row;
justify-content: center;
  }
}
