.product-card__title {
    margin-top: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: #131313;
    font-size: 16px;
    font-family: Seymour One;
    font-weight: 400;
    line-height: 24px;
    }

    .product-card__list {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

    }

    .product-card__item {
        border-radius: 15px;
        border-bottom: 2px solid #96AF8C;
        box-shadow: 0px 5.2602739334106445px 19.72602653503418px 0px rgba(212, 20, 67, 0.10);
    }

    .product-card__text {
        color: #131313;
text-align: center;
font-size: 16px;
font-family: Montserrat;
font-weight: 700;
line-height: normal;
letter-spacing: 0.64px;
text-transform: uppercase;
margin-top: 20px;
    }