

.products {
    background-color: #FCFCFC;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding: 60px 0;
    background-image: 
    url("../images/background-mobile@1x.jpg");
  }
  
  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products {
      background-image: 
      url("/images/background-mobile@2x.jpg");
    }
  }

  .products__label {
font-family: 'Montserrat';
font-weight: 800;
font-size: 18px;
line-height: 22px;
text-align: center;
text-transform: uppercase;
color: #131313;
  }