
.products {
    background-color: #FCFCFC;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: 
    url("../images/background-mobile@1x.jpg");
  }
  
  @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .products {
      background-image: 
      url("/images/background-mobile@2x.jpg");
    }
  }

  .products__label {
font-family: 'Montserrat';
font-weight: 800;
font-size: 18px;
line-height: 22px;
text-align: center;
text-transform: uppercase;
color: #131313;
  }

  .products__title {
font-family: 'Seymour One';
font-size: 30px;
line-height: 38px;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #131313;
margin-top: 12px;
  }

.products__item-title {
font-family: 'Montserrat';
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #131313;
margin-top: 130px;
}

.products__item-dscr {
font-family: 'Montserrat';
font-weight: 400;
font-size: 14px;
line-height: 1.76;
text-align: center;
letter-spacing: 0.04em;
color: #131313;
margin-top: 40px;
}

.products__wrap {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 280px;
    min-height: 420px;
      border-radius: 24px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 172px;

    &::before {
  content: '';
  width: 200px;
  height: 200px;
  background: url(<path-to-image>), lightgray 0.845px -34.77px / 100% 149.982% no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 10;
  border-radius: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -160%);
}

&::after {
  content: "";
   position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -154%);
}
}

.icecream-product {
  background: #AEC6A5;
}

.icecream-product::before {
    content: url(../images/products-icecream-mobile@1x.png);
  
  
  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .icecream-product::before {
      content: url(../images/products-icecream-mobile@2x.png);
    }
  }
}

.icecream-product::after {
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.70) 0%, rgba(156, 190, 143, 0.70) 100%), #D9D9D9;
    box-shadow: 0px 5.342193126678467px 20.033222198486328px 0px rgba(10, 136, 23, 0.25);   
  }

  .icecoffee-product {
    background: #EFD478;
  }
  
  .icecoffee-product::before {
      content: url(../images/products-icecoffee-mobile@1x.png);
    
    
    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .icecream-product::before {
        content: url(../images/products-icecoffee-mobile@2x.png);
      }
    }
  }
  
  .icecoffee-product::after {
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.70) 0%, rgba(248, 210, 78, 0.70) 100%), #D9D9D9;
    box-shadow: 0px 5.403973579406738px 20.26490020751953px 0px rgba(153, 114, 23, 0.25);
  }
  
  .milkshakes-product {
    background: #D6936D;
  }
  
  .milkshakes-product::before {
      content: url(../images/products-milkshakes-mobile@1x.png);
    
    
    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .icecream-product::before {
        content: url(../images/products-milkshakes-mobile@2x.png);
      }
    }
  }
  
  .milkshakes-product::after {
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.70) 0%, rgba(213, 117, 63, 0.70) 100%), #D9D9D9;
    box-shadow: 0px 5.413332939147949px 20.299999237060547px 0px rgba(0, 0, 0, 0.25);
    }


.products__icon-arrow {
    margin-bottom: 16px;
    margin-top: auto;
    transition: fill 250ms linear;

    &:hover, &:focus {
fill: #FCFCFC;
    }
  }