.main-btn {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;   
    color: #000000;
    background-color: #F8D24E;
padding: 12px 36px;
border-radius: 10px;
border: transparent;
margin-top: 110px;
min-width: 152px;
transition: background-color 250ms linear,
color 250ms linear,
}

.main-btn {
&:hover {
    background-color: #0A8817;
}

}

.main-btn__arrow {
    transition: fill 250ms linear;
}

.main-btn:focus {
    color: #FCFCFC;
    background-color: #0A8817;
    .main-btn__arrow {
        fill: #FCFCFC;
    }
}    